{% extends "base.html" %}
{% block title %} update {% endblock title %}
{% block body %}

<div class="container">
    <h1>update todo</h1>
    <form action="/update/{{todo.sno}}" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">todo title</label>
            <input type="text" class="form-control" value="{{todo.title}}" id="exampleInputEmail1" name="title"
                aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">todo description</label>
            <input type="text" class="form-control" value="{{todo.desc}}" name="desc" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">update</button>
    </form>
</div>
<hr>



{% endblock body%}